* {
  font-family: ShureTechMonoNF FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

/* Monokai Blocky Theme Colors */
@define-color bg1 #272822;
@define-color bg2 #2c2d23;
@define-color bg3 #33342a;
@define-color bg4 #3a3b31;
@define-color bg5 #414339;
@define-color fg #f8f8f2;

@define-color grey1 #75715e;
@define-color grey2 #8f8b75;
@define-color grey3 #a9a582;

@define-color green #a6e22e;
@define-color yellow #e6db74;
@define-color blue #66d9ef;
@define-color ice #a1efe4;
@define-color purple #ae81ff;
@define-color red #f92672;
@define-color lilac #cfc3ff;

/* Base Waybar Styling */
window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

tooltip {
  background: @bg1;
  border: 2px solid @bg3;
  border-radius: 5px;
}

tooltip label {
  color: @fg;
}

/* Module Defaults */
#mode,
#custom-power,
#custom-disk-per,
#disk,
#cpu,
#memory,
#temperature,
#workspaces,
#window,
#pulseaudio,
#network,
#battery,
#clock {
  padding: 6px 10px;
  background: @bg1;
  color: @fg;
  border-radius: 8px;
  border: 2px solid @bg3;
  margin: 0 3px;
}

/* Specific Module Borders */
#custom-power { border-color: @green; }
#custom-disk-per,
#disk { border-color: @lilac; }
#cpu { border-color: @ice; }
#memory { border-color: @red; }
#temperature { border-color: @blue; }
#window { border-color: @green; }
#pulseaudio { border-color: @lilac; }
#network { border-color: @ice; }
#battery { border-color: @red; }
#clock { border-color: @blue; }

/* Workspaces */
#workspaces {
  background: @bg1;
  border: 2px solid @blue;
  margin-left: 10px;
  padding: 0 8px;
}

#workspaces button {
  padding: 4px 6px;
  color: @grey3;
  background: none;
  border: none;
}

#workspaces button.active {
  color: @fg;
  background: @bg3;
}

#workspaces button:hover {
  background: @bg2;
  color: @fg;
}

